.map-page {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-family: "CooperativeRegular";
}

.first-map {
  position: absolute;
  width: 57%;
  margin-right: 20%;
  margin-top: -18%;
}

/* map  */
.cls-1-first-map,
.cls-3-first-map {
  fill: #fff;
}
.cls-1-first-map {
  stroke: #42210b;
}
.cls-1-first-map,
.cls-2-first-map {
  stroke-miterlimit: 10;
  stroke-width: 3.14px;
}
.cls-2-first-map {
  fill: none;
  stroke: #603813;
}

.father-of-draggable-answers {
  position: absolute;
  width: 100vw;
  height: 20vh;
  margin-top: 90vh;
}

.draggable-answer {
  background-color: white;
  border-radius: 3.5vw;
  padding: 1vw 2vh;
  min-height: 1vh;
  max-width: 50vw;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  font-family: "CooperativeRegular";
  color: black;
  border-style: none;
  display: inline-block;
}

.father-of-drop-containers {
  position: absolute;
  width: 100vw;
  height: 80vh;
  margin-top: -10vh;
}

.drop-container {
  position: absolute;
  background-color: transparent;
  border-radius: 3.5vw;
  padding: 1.5vw 2.5vh;
  min-height: 1vh;
  max-width: 50vw;
  min-width: 10vw;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 0.12em;
  margin-right: 64%;
  margin-top: 122%;
}
